.LoginForm__container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}

.LoginForm__title {
    padding-top:10px;
}

.LoginForm__item-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px;
}

.LoginForm__signup {
    padding-top:10px;
}
