
.SignupForm__container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}

.SignupForm__title {
    padding-top:10px;
}

.SignupForm__item-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px;
}

.SignupForm__login {
    padding-top:10px;
}
