.BookAppt__container {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BookAppt {
    color: black;
    padding: 20px;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
}