.Profile {
    color: black;
    padding: 20px;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
}

.Profile_cal-owned {
    margin: 10px 0px;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
}