.App {
  text-align: center;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
}

.App-link {
  color: #61dafb;
}

.info {
  padding: 20px;
  display: flex;
  align-items: center;
}
